<div class="parallax-container">
  <div class="container">
    <%= render 'layouts/navbar' %>
    <section>
      <div class="callout">
        <h1 class="center-align white-text">Cafe TXI</h1>
      </div>
    </section>
  </div>
  <div class="parallax"><img src="http://www.nobrowcoffee.com/wp-content/uploads/2016/04/coffee-wallpaper-1306-1433-hd-wallpapers.jpg"></div>
</div>

<div class="container">
  <% if @menu_items.blank? %>
    <p>There are no menu items, please login to create menu item.</p>
  <% else %>

  <h2 class="center-align">Menu</h2>
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content center-align">

          <%= render 'menu_items' %>
          
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
